
.outer-container
    border: 1px solid green
    height: 500px
    overflow-y: scroll
    .list-container
        border: 1px solid white
        position: relative
        .list-item
            position: absolute
            color: green
            left: 0
            width: 100%
            border: 1px solid red
            display: flex
            align-items: center
            justify-content: center
            